ul {
    li {
        color: red;
    }
}

.one {
    color: red;
    .two {
        color: green;
        .three {
            font-size: 20px;
        }
        .four {
            font-size: 30px;
        }
    }
}

